<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include common/head.html %}
  <body>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap container" class="outer">
      {% include common/header.html %}
      {% if page.sidebar %}
        {% include common/sidebar.html %}
      {% endif %}
      <div class="main_content">
        <section id="main_content" class="inner">
          {{ content }}
        </section>
      </div>
    </div>
    {% include common/footer.html %}
    {% include common/ga.html %}
  </body>
</html>